
* {
	margin-top:250px;
	padding:0;
	box-sizing:border-box;
}

body {
	background-color:black;
	color:#fff;
}


nav {
	padding:0px 100px;
	height:85px;
	line-height:85px;
	width:100%;
	background-color:DodgerBlue;
	color:white;
	position:fixed;
	top:0;
	border-radius:0 0 30px 30px;
}

.logo {
	float:left;
}

.logo img {
	width:auto;
	height:100px;
}

nav ul {
	float:right;
}

nav ul li {
	display:inline-block;
	padding-right:20px;
}

nav li a {
	font-size:14px;
	font-family:'Loto' , sans-serif;
	font-weight:400;
	color:#fff;
	letter-spacing:1px;
	text-transform:uppercase;
	text-decoration:none;
}

nav li a:hover {
	color:red;
	transition:all 0.5s ease 0s;
}

.sec1 p {
	text-align:justify;
}
